


body{
    font-family: 'Redressed', cursive;
    margin: 0px;
}

  }
h1{
    font-size: 30px;
}
.name-highlight{
    color: blue
    ;
}
.be{
    color:grey;
    font-size: 20px;
}
.first-side{
 width: 41%;
 float: left;
 margin-left: 3%;
 margin-top: 1%;
 padding-left: 3%;
}
.first-side img{
    width: 55%;
}
.ban{
    background-image: url(images/ban.png);
    background-repeat: no-repeat;
}
section{
    height: 450px;
    padding-bottom: 25px;
}
.button{
    color: white;
    border: 2px;
    border-radius: 5px;
    padding: 8px 16px;
    background-color: chocolate;
    font-weight: bold;
    background-image: linear-gradient(45deg,red,black);
}
.link{
    text-decoration: none;
}
.coloring{
    color:orange;
}
.ben{
    font-size: 20px;
    color:black;
}
.beni{
    font-size: 20px;
    color:royalblue;
}
.dream{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.colorr{
    color:darkblue;
}
.faded{


    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 60%;
}
.expe{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.h21{
    color: darkred;
}

#wdeg{
   border-left: 8px solid ;
 background-image: linear-gradient(180deg,black,white,skyblue);
 border-image-slice: 1;
}
#wdev{
  border-left: 8px solid skyblue;
  background-image: linear-gradient(180deg,black,white,orange);
  border-image-slice: 1;
}
#wde{
    border-left: 8px solid grey;
  background-image: linear-gradient(180deg,skyblue,white,black);
  border-image-slice: 1;
 }
 #wdv{
    border-left: 8px solid blue;
  background-image: linear-gradient(180deg,grey,blueviolet);
  border-image-slice: 1;
 }

.foo{
    text-align: center;
    padding: 3px;
    background-color:black;
    color: white;
}
.nav-bar{
   
    width: 100%;
    background-color: #555;
    overflow: auto;
    font-size: 30px;
    margin:0%;
    padding:0%;
   
   
}
.nav-bar a{
    text-decoration: none;
    color:whitesmoke;
    
}
.nav-bar ul{
    list-style: none; 
    margin: 0%;
    padding: 0%;
}
.nav-bar ul li{
   float: left;
   color: white;
   width: 14.5%; 
   text-align: center;
}
.nav-bar ul li:hover {
    background-color: grey;
  }
  .nav-bar ul li{
    background-color:black;
    margin: 6px;
    padding: 6px;
  }
    .expedi{

        background-image: url(images/dream-bg.png);
        background-repeat:no-repeat;
        background-position: right; 
    }
    .image-padding{

        padding: 20px;
        margin: 10px;

    }

  .skill-s{
  
    width: 40%;
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    padding-left: 3%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 57%;
    background-image: linear-gradient(black,white,grey);

  }  
  .sk1{
    margin: 5px;
      padding: 5px;
     text-align: left;
     color: darkslategrey;
   
  }
  .sk2{
   
    margin: 5px;
    padding: 5px;
    text-align: initial;
    color: maroon;
 
}
.skill-sk{
    font-size: 22px;
    color:blue
}
.skill-skk{
    font-size: 22px;
    color:darkred;
}

.beny{
    color: deepskyblue;
    font-size: 20px;
}
.benyy{
    color: black;
    font-size: 20px;
}